*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*-Nav------*/
.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}
.hero{
  background-image: url(../images/TOPNAV%20CONTAINER.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 80vh;
}
.hero-text{ 
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.hero-text h1{
font-style: normal;
font-weight: bold;
font-size: 55px;
line-height: 82px;
text-align: center;
color: #FFFFFF;
}
.hero-text p{
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 27px;
text-align: center;
letter-spacing: 0.2em;
color: #FFFFFF;
}
/*---header button----*/
.hero-text .btn-hero{
margin-top: 20px;
background: #E13B63;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 2px;
padding: 15px 50px;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #FFFFFF;
}
/*---about-us--*/
.about-us{
  display: flex;
  align-items: center;
}
.about-image img{
width: 773.27px;
margin-right: 30px;
}
.about-text h2{
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 39px;
color: #000000;
}
.about-text p{
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 25px;
letter-spacing: 0.02em;
color: #000000;
}
.about-text .btn-abt{
background: #E13B63;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 2px;
font-weight: bold;
font-size: 20px;
line-height: 25px;
text-align: center;
color: #FFFFFF;
}

/* Media Queries */
@media only screen and (max-width: 540px) {
  .about-us {
    display: block;
  }
  .about-image img {
    width: 100% !important;
    margin-right: auto;
  }
  .about-text {
    width: 70%;
    margin: 5px auto;
    text-align: center;
  }
  .hero-text{
    top: 60%;
  }
  .hero-text h1{
    font-size: 28px;
  }
  .hero-text p{
    font-size: 16px;
  }
}

/* Screen size above 540px and below 769px */
@media only screen and (max-width: 768px) {
  .conatiner {
    margin-top: 100px;
  }
  .about-image img {
    width: 450px;
  }
}
